<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

      <h1>edit the form </h1>

    <form method="post" action="/listings/<%=listingData.id%>?_method=PUT">
        <input type="text" name="listing[title]"  value="<%=listingData.title%>"><br><br>
        <textarea type="text" name="listing[description]"><%=listingData.description %></textarea><br><br>

        <input type="text" name="listing[image][url]" value="<%=listingData.image.url%>"><br><br>
        <input type="text" name="listing[location]" value="<%=listingData.location%>"><br><br>
        <input type="text" name="listing[country]" value="<%=listingData.country%>"><br><br>
        <input type="number" name="listing[price]" value="<%=listingData.price%>"><br><br>

        <button type="submit"> ADD Property</button>

    </form>
    
</body>
</html>