<% layout("/layouts/boilerplate.ejs") %>


    <div class="row">

        <div class="col-12 col-md-10 col-lg-8 mx-auto">


            <div class="card listingcard">
                <h2 class="card-title mt-3 mb-2 p-2">
                    <%=listingData.title%>
                </h2>

                <img src="<%=listingData.image.url%>" class="card-img-top show-img" alt="...">
                <div class="card-body">
                    <p class="card-text"><b>Owner:</b>: <%=listingData.owner.username%>
                    </p>

                    <p class="card-text"><b>Description</b>: <%=listingData.description%>
                    </p>
                    <p class="card-text"> <b>Price:</b>&#8377; <%=listingData.price.toLocaleString("en-IN") %> /night
                    </p>
                    </p>
                    <p class="card-text"><b>Country :</b>: <%=listingData.country%>
                    </p>
                    <p class="card-text"><b>Location:</b>: <%=listingData.location%>
                    </p>


                    <div class="row">
                        <% if(currUser && currUser._id.toString()===listingData.owner._id.toString()) {%>

                            <div class="col-4 d-flex">
                                <a href="/listings/<%=listingData.id%>/edit" class="btn btn-danger me-3">Edit</a>
                                <form method="post" , action="/listings/<%=listingData._id%>?_method=DELETE">

                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>

                            </div>

                            <%} %>

                    </div>

                    <hr>

                    <div>
                        <% if(currUser){ %>
                            <h3 class="">Leave A Review</h3>

                            <form class="mt-1 mb-3 needs-validation" action="/listings/<%= listingData._id %>/review"
                                method="post" novalidate>

                                <div class="mt-1 ">
                                    <label for="">Rating</label>
                                     <fieldset class="starability-slot">

                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value=1
                                        checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value=1 />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value=2 />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value=3 />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value=4 />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value=5 />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>

                                </div>
                               
                                <div class="mb-3">
                                    <label for="Comment" class="form-label">Comment</label>
                                    <textarea name="review[Comment]" class="form-control border-3" id="Comment"
                                        cols="50" rows="5" required></textarea>
                                    <div class="invalid-feedback">Please add a Comment.</div>
                                    <div class="valid-feedback">Looks good!</div>

                                </div>
                                <button class="btn btn-outline-danger">Submit</button>

                            </form>
                            <% } %>
                    </div>
                    <hr>
                    <div>
                        <h4>All Reveiws:</h4>
                        <div class="row">
                            <% for(review of listingData.reviews){ %>

                                 <div class="col-12 col-sm-6 col-lg-4 mb-3">
                                    <div class="card mb-3 review-card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= review.author.username %>
                                            </h5>
                                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                                <p class="starability-result card-text" data-rating="<%=review.rating%>">

                                                </p>
                                            </h6>

                                            <p class="card-text">
                                                <%= review.Comment %>
                                            </p>
                                            <% if(currUser&& review.author._id.toString()===currUser._id.toString()){ %>
                                                <form
                                                    action="/listings/<%=listingData.id%>/review/<%=review.id%>?_method=DELETE"
                                                    method="post">
                                                    <button class="btn btn-dark btn-sm"> Delete</button>

                                                </form>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>

                                <%}%>


                        </div>


                    </div>


                </div>
            </div>

        </div>

    </div>









    </body>