<% layout("/layouts/boilerplate.ejs") %>


    <div class="row">

        <div class="col-lg-8 offset-lg-3">

            <div class="card" style="width: 40rem;">
                <img src="<%=listingData.image.url%>" class="card-img-top show-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=listingData.title%>
                    </h5>
                    <p class="card-text"><b>Description</b>: <%=listingData.description%>
                    </p>
                    <p class="card-text"> <b>Price:</b>&#8377; <%= listingData.price.toLocaleString("en-IN") %>/night
                    </p>
                    </p>
                    <p class="card-text"><b>Country :</b>: <%=listingData.country%>
                    </p>
                    <p class="card-text"><b>Location:</b>: <%=listingData.location%>
                    </p>


                    <div class="row">

                        <div class="col-4 d-flex">
                            <a href="/listings/<%=listingData.id%>/edit" class="btn btn-danger me-3">Edit</a>
                            <form method="post" , action="/listings/<%=listingData.id%>?_method=DELETE">

                                <button class="btn btn-outline-danger">Delete</button>
                            </form>

                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>









    </body>